{% doc %}
  Renders a product card.

  @param {object} [card_product] - Product object.
  @param {string} [class] - The card's css class.
  @param {boolean} mobile_two_columns - Whether the card is displayed in two columns when on mobile. Default: false
  @param {boolean} show_vendor - Show the product vendor. Default: false
  @param {boolean} show_sku - Show the product vendor. Default: false
  @param {boolean} show_stock - Show the product stock. Default: false
  @param {boolean} show_rating - Show the product rating. Default: false
  @param {boolean} show_add_to_cart - Show the Add To Cart button. Default: false
  @param {boolean} [show_compare] - Show the Compare checkbox. Default: false
  @param {string} event_context - The JavaScript's cart-item:add event context (the location of the product card).
  @param {boolean} [lazyload] - Whether to lazy load the main thumbnail.
  @param {boolean} [new_window] - Opens the link in a new window.
  @param {object} [collection] - Collection object associated with the product.
  @param {string} [card_title_tag] - The HTML tag to use for the product title. Default: h3.

  @example
  {% render 'card-product', card_product: product %}
{% enddoc %}

{%- liquid
  assign featured_media = card_product.featured_media | default: settings.product_placeholder_image

  assign ratio = 1
  if featured_media and settings.product_image_ratio == 'portrait'
    assign ratio = 0.8
  elsif featured_media and settings.product_image_ratio == 'landscape'
    assign ratio = 1.77
  elsif featured_media and settings.product_image_ratio == 'adapt'
    assign ratio = featured_media.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif

  # theme-check-disable-next-line VariableName
  assign preorderSuffixArray = card_product.template_suffix | split: 'pre-order-'
  assign is_pre_order = false
  if card_product.template_suffix != blank and preorderSuffixArray[0] == blank or card_product.template_suffix == 'pre-order'
    assign is_pre_order = true
  endif

  if lazyload == true
    assign lazy = 'lazy'
  endif
-%}
{%- capture show_call_for_pricing -%}{%- render 'price-get-call-for-pricing', product: card_product, use_variant: false -%}{%- endcapture -%}
{%- assign show_call_for_pricing = show_call_for_pricing | strip -%}

{% if card_product and card_product != empty %}
  {% assign image_widths = '200, 420, 650, 750, 950' %}

  {%- capture image_sizes -%}
    {% if mobile_two_columns %}
      (min-width: 1200px) 420px, (min-width: 750px) calc((100vw - 4rem - 3rem) / 3), calc((100vw - 3rem - 1rem) / 2)
    {% else %}
      (min-width: 1200px) 420px, (min-width: 750px) calc((100vw - 4rem - 3rem) / 3), calc(100vw - 3rem - 1rem)
    {% endif %}
  {%- endcapture -%}

  {% capture card_product_badges_visible %}{% render 'card-product-badges-visible', product: card_product %}{% endcapture %}

  <product-card
    class="card card-product{% if featured_media == nil %} card-no-media{% endif %}{% if settings.product_content_alignment == 'center' %} card-product-content-center{% endif %} {{ class }}"
    data-product-id="{{ card_product.id }}"
  >
    {% if settings.product_compare_enabled and show_compare %}
      {% render 'card-product-compare-checkbox', product: card_product %}
    {% endif %}

    <figure class="card-media {% if settings.product_image_crop != true %} card-media-contain{% endif %}">
      <a
        href="{% if settings.collection_product_url_enabled %}{{ card_product.url | within: collection }}{% else %}{{ card_product.url }}{% endif %}"
        class="js-product-link"
        aria-label="{{ card_product.title | escape }}"
        {% if new_window == true %}
          target="_blank"
        {% endif %}
      >
        {% if featured_media %}
          {% if ratio != 0 %}
            <div
              class="aspect-ratio"
              style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
            >
          {% endif %}
          {{
            featured_media
            | image_url: width: 950
            | image_tag:
              class: 'card-media-image',
              loading: lazy,
              sizes: image_sizes,
              widths: image_widths
          }}

          {% assign second_image = card_product.images[1] %}
          {%- if second_image != null and settings.products_show_secondary_image -%}
            {{
              second_image
              | image_url: width: 950
              | image_tag:
                class: 'card-media-image',
                loading: 'lazy',
                sizes: image_sizes,
                widths: image_widths
            }}
          {%- endif -%}
          {% if ratio != 0 %}
            </div>
          {% endif %}
        {% endif %}
      </a>

      {% if card_product_badges_visible != blank %}
        <div class="card-product-badges">
          {% unless settings.catalog_enabled or settings.sale_badge_mode == 'none' %}
            {% if card_product.compare_at_price > card_product.price %}
              <div class="card-badge top left">
                {% render 'badge-sale', product: card_product, use_variant: false %}
              </div>
            {% elsif is_pre_order %}
              <div class="card-badge top left">
                <span class="badge badge-sale">
                  {{ 'products.product.pre_order' | t }}
                </span>
              </div>
            {% endif %}
          {% endunless %}

          {% render 'card-product-custom-badges',
            product: card_product,
            class: 'card-product-custom-badges'
          %}
        </div>
      {% endif %}
    </figure>

    <div class="card-info">
      {% liquid
        assign show_eyebrow = false
        if show_vendor and card_product.vendor != blank
          assign show_eyebrow = true
        endif
        if show_sku and card_product.selected_or_first_available_variant.sku != blank
          assign show_eyebrow = true
        endif
      %}
      {% if show_eyebrow %}
        <div class="card-eyebrow">
          {% if show_vendor and card_product.vendor != blank %}
            {% liquid
              assign matching_collection = false
              assign vendor_handle = card_product.vendor | handleize
              for collection in card_product.collections
                if collection.handle == vendor_handle
                  assign matching_collection = true
                endif
              endfor
            %}
            <span class="card-eyebrow-item">
              {% if matching_collection %}
                <a
                  href="{{ routes.collections_url }}/{{ vendor_handle }}"
                  {% if new_window == true %}
                    target="_blank"
                  {% endif %}
                >
                  {{- card_product.vendor -}}
                </a>
              {% else %}
                {{ card_product.vendor | link_to_vendor }}
              {% endif %}
            </span>
          {% endif %}
          {% if show_sku and card_product.selected_or_first_available_variant.sku != blank %}
            <span class="card-eyebrow-item" data-card-sku>
              {{- card_product.selected_or_first_available_variant.sku -}}
            </span>
          {% endif %}
        </div>
      {% endif %}

      {% assign card_title_tag = card_title_tag | default: 'h3' %}
      <{{ card_title_tag }} class="card-heading typography-{{ settings.product_title_font }}">
        <a
          class="js-product-link"
          href="{% if settings.collection_product_url_enabled %}{{ card_product.url | within: collection }}{% else %}{{ card_product.url }}{% endif %}"
          {% if settings.product_cards_truncate_title_chars > 0 %}
            title="{{ card_product.title | escape }}"
          {% endif %}
          {% if new_window == true %}
            target="_blank"
          {% endif %}
        >
          {% if settings.product_cards_truncate_title_chars > 0 %}
            {{
              card_product.title
              | truncate: settings.product_cards_truncate_title_chars
              | escape
            }}
          {% else %}
            {{ card_product.title | escape }}
          {% endif %}
        </a>
      </{{ card_title_tag }}>

      {% if settings.swatches_on_product_listings %}
        {% render 'card-product-swatches',
          product: card_product,
          collection: collection,
          image_sizes: image_sizes,
          image_widths: image_widths
        %}
      {% endif %}

      {% render 'card-product-metafields', product: card_product %}
    </div>

    {% unless settings.catalog_enabled %}
      <div class="card-footer">
        <div class="card-footer-intro {% if settings.products_hide_empty_star_rating %}product-rating-hide-empty{% endif %}">
          {%- if show_stock -%}
            {% render 'product-availability-listing', product: card_product %}
          {%- endif -%}
          {%- liquid
            if show_rating
              render 'product-rating-widget', product: card_product, new_window: new_window
            endif
          -%}
        </div>

        {%- capture login_for_price -%}{%- render 'price-get-login-for-price', product: card_product -%}{%- endcapture -%}
        {%- assign login_for_price = login_for_price | strip -%}
        {% if login_for_price == 'true' %}
          {% render 'price-login-for-price' %}
        {% else %}
          {% render 'price', product: card_product, discount_badge: false %}

          {%- if show_call_for_pricing == 'true' and show_add_to_cart == false -%}
            <div class="product-actions card-product-actions">
              {% render 'price-call-for-pricing', product: card_product %}
            </div>
          {%- elsif show_add_to_cart -%}
            {% render 'card-product-add-to-cart',
              product: card_product,
              event_context: event_context,
              collection: collection
            %}
          {%- endif -%}
        {% endif %}
      </div>
    {% endunless %}
  </product-card>
{% else %}
  <div class="card card-product{% if settings.product_content_alignment == 'center' %} card-product-content-center{% endif %} {{ class }}">
    <figure class="card-media">
      <a role="link" aria-disabled="true" aria-label="{{ 'onboarding.product_title' | t }}">
        {{ 'product-1' | strip | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
    </figure>

    <div class="card-info">
      {% if show_vendor and card_product.vendor != blank %}
        <div class="card-eyebrow">{{ 'products.product.vendor' | t }}</div>
      {% endif %}

      <h3 class="card-heading typography-{{ settings.product_title_font }}">
        <a role="link" aria-disabled="true">{{ 'onboarding.product_title' | t }}</a>
      </h3>
    </div>

    {% unless settings.catalog_enabled %}
      <div class="card-footer">
        <div class="card-footer-intro {% if settings.products_hide_empty_star_rating %}product-rating-hide-empty{% endif %}">
          <div class="badge-stock badge-stock-in">
            <span class="badge-stock-dot"></span> {{ 'products.product.availability.in_stock' | t }}
          </div>

          {%- if show_rating -%}
            {% render 'rating', product: card_product %}
          {% endif %}
        </div>

        {%- capture login_for_price -%}{%- render 'price-get-login-for-price', product: card_product -%}{%- endcapture -%}
        {%- assign login_for_price = login_for_price | strip -%}
        {% if login_for_price == 'true' %}
          {% render 'price-login-for-price' %}
        {% else %}
          {% render 'price', product: card_product, discount_badge: false %}
        {% endif %}
      </div>
    {% endunless %}
  </div>
{% endif %}
