{% doc %}
  Renders a customizable collection card.

  @param {object} collection - Collection object.
  @param {string} id - HTML id.
  @param {object} settings - The card (block) settings.
  @param {object} [image] - Image object. If present, overrides the collection's image.
  @param {boolean} [title] - Show title. Default: true
  @param {boolean} [description] - Show description. Default: true
  @param {boolean} [button] - Show button. Default: true
  @param {boolean} [overlay] - Show overlay. Default: true
  @param {string} [button_text] - Override button text. Optional.
  @param {boolean} [new_window] - Whether to open the link in a new window. Optional.
  @param {string} [class] - Extra CSS classes. Optional.
  @param {number} [ratio] - Optional. The ratio to display the card at.
  @param {number} [columns] - Optional. The number of columns the card is rendered in.
  @param {boolean} [card_clickable_desktop] - Optional. Whether the card should be clickable on desktop.
  @param {string} [loading] - Loading strategy ('lazy' or 'eager'). Default: lazy.
  @param {string} [fetchpriority] - Priority for image fetching. Default: auto.
  @param {object} block - The block object.

  @example
  {% render 'card-collection-info', collection: collection, image: image %}
{% enddoc %}

{% liquid
  assign has_video = false
  if settings.custom_video != blank or settings.video_url != blank
    assign has_video = true
  endif

  assign video_type = settings.video_url.type
  if settings.custom_video != blank
    assign video_type = 'self-hosted'
  endif

  if loading == blank
    assign loading = 'lazy'
  endif

  if fetchpriority == blank
    assign fetchpriority = 'auto'
  endif
%}

<div
  {% if id != blank %}
    id="{{ id }}"
  {% endif %}
  class="card-overlay {% unless overlay == false %}card-overlay-on{% else %}card-overlay-off{% endunless %} {% if card_clickable_desktop %}card-pointer-all{% endif %} {{ class }}"
  {% unless ratio == null or ratio == 0 %}
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  {% endunless %}
  {{ block.shopify_attributes }}
>
  {% if collection.url != blank %}
    <a
      href="{{ collection.url }}"
      {% if new_window %}
        target="_blank"
      {% endif %}
    >
  {% endif %}
  {%- capture image_sizes -%}
    {% if columns == 1 %}
      (min-width: 1420px) 1420px, calc(100vw - 3rem)
    {% else %}
      (min-width: 1200px) calc((100vw - 6rem) / 2), (min-width: 990px) calc((100vw - 6rem) * 0.6), (min-width: 750px) calc(100vw - 4rem), calc(100vw - 3rem)
    {% endif %}
  {%- endcapture -%}
  {% if image != blank %}
    {{
      image
      | image_url: width: 2840
      | image_tag:
        class: 'card-overlay-media',
        loading: loading,
        fetchpriority: fetchpriority,
        sizes: image_sizes,
        widths: '165, 440, 650, 850, 1100, 1200, 1420, 2840'
    }}
  {% elsif collection.featured_image %}
    {{
      collection.featured_image
      | image_url: width: 2840
      | image_tag:
        class: 'card-overlay-media',
        loading: loading,
        fetchpriority: fetchpriority,
        sizes: image_sizes,
        widths: '165, 440, 650, 850, 1100, 1200, 1420, 2840'
    }}
  {% else %}
    {% if has_video == false %}
      {{ 'collection-1' | strip | placeholder_svg_tag: 'card-overlay-media' }}
    {% endif %}
  {% endif %}

  {% unless title == false %}
    <span class="visually-hidden">{{ collection.title }}</span>
  {% endunless %}

  {% if collection.url != blank %}
    </a>
  {% endif %}

  <div
    class="card-overlay-info content-align-{{ settings.mobile_box_align }} content-align-desktop-{{ settings.box_align }}"
    style="color: {{ settings.text_color }}"
  >
    {%- unless title == false -%}
      <h3 class="card-overlay-heading card-overlay-heading-{{ settings.mobile_heading_size }} card-overlay-heading-desktop-{{ settings.heading_size }}">
        {%- if collection.title -%}
          <a
            href="{{ collection.url }}"
            {% if new_window %}
              target="_blank"
            {% endif %}
          >
            {{- collection.title -}}
          </a>
        {%- else -%}
          {{ 'onboarding.collection_title' | t }}
        {%- endif -%}
      </h3>
    {%- endunless -%}

    {%- unless description == false -%}
      <div class="card-overlay-caption">
        {%- if settings.collection_description != blank -%}
          {{ settings.collection_description }}
        {%- else -%}
          {{ collection.description }}
        {%- endif -%}
      </div>
    {%- endunless -%}

    {%- unless button == false -%}
      <a
        class="{% if settings.button_type_link %}button-text-link{% else %}button color-button-{{ settings.button_color_scheme }}{% endif %}"
        {% if collection.url == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ collection.url }}"
          {% if new_window %}
            target="_blank"
          {% endif %}
        {% endif %}
      >
        {% if button_text != blank %}
          {{ button_text }}
        {% else %}
          {{ 'general.collection.shop_collection' | t: title: collection.title }}
        {% endif %}
      </a>
    {%- endunless -%}
  </div>

  {% if settings.badge_overlay_line_1_text != blank
    or settings.badge_overlay_line_2_text != blank
    or settings.badge_overlay_line_3_text != blank
  %}
    <div
      class="card-badge-overlay card-badge-overlay-position-{{ settings.badge_overlay_position }}"
      style="color: {{ settings.badge_overlay_colors_text }}; background-color: {{ settings.badge_overlay_colors_background }};"
    >
      {% if settings.badge_overlay_line_1_text != blank %}
        <span class="card-badge-overlay-text card-badge-overlay-text-1 card-badge-overlay-text-{{ settings.badge_overlay_line_1_font_size }}">
          {{ settings.badge_overlay_line_1_text }}
        </span>
      {% endif %}
      {% if settings.badge_overlay_line_2_text != blank %}
        <span class="card-badge-overlay-text card-badge-overlay-text-2 card-badge-overlay-text-{{ settings.badge_overlay_line_2_font_size }}">
          {{ settings.badge_overlay_line_2_text }}
        </span>
      {% endif %}
      {% if settings.badge_overlay_line_3_text != blank %}
        <span class="card-badge-overlay-text card-badge-overlay-text-3 card-badge-overlay-text-{{ settings.badge_overlay_line_3_font_size }}">
          {{ settings.badge_overlay_line_3_text }}
        </span>
      {% endif %}
    </div>
  {% endif %}

  {% if has_video %}
    <video-background
      data-section-id="{{ id }}"
      data-type="{{ video_type }}"
      data-video-id="{{ settings.video_url.id }}"
      class="card-overlay-video-background"
    >
      <div class="video-background-loader"></div>
      <div class="video-background-player">
        {%- if settings.custom_video != blank -%}
          <video muted playsinline preload="none" loop>
            {% for source in settings.custom_video.sources %}
              <source data-src="{{ source.url }}" type="{{ source.mime_type }}">
            {% endfor %}
          </video>
        {%- else -%}
          <div id="{{ id }}-video-player"></div>
        {%- endif -%}

        {% if settings.video_description != blank %}
          <span class="visually-hidden">{{ settings.video_description }}</span>
        {% endif %}
      </div>
    </video-background>
  {% endif %}
</div>
