{% doc %}
  Renders a customizable media with text banner card.

  @param {object} [image] - Image object. Optional.
  @param {string} [title] - The title. Optional.
  @param {string} [description] - The description. Optional.
  @param {string} [button_link] - Button link. Optional.
  @param {string} [button_text] - Button text. Optional.
  @param {boolean} [new_window] - Whether to open the link in a new window. Optional.
  @param {string} [class] - Extra CSS classes. Optional.
  @param {number} [columns] - Optional. The number of columns the card is rendered in.
  @param {string} [image_position] - Optional. Top, Left, Right.
  @param {string} [aspect] - Optional. Image aspect ratio (adapt, portrait, square, landscape).
  @param {string} [id] - HTML id. Optional.
  @param {string} [heading_size] - Title size for desktop.
  @param {string} [mobile_heading_size] - Title size for mobile.
  @param {object} [settings] - Optional. The card settings.
  @param {string} [loading] - Loading strategy ('lazy' or 'eager'). Default: lazy.
  @param {string} [fetchpriority] - Priority for image fetching. Default: auto.

  @example
  {% render 'card-media-with-text-banner', title: title, image: image %}
{% enddoc %}

{% liquid
  assign ratio = 1
  if image and aspect == 'portrait'
    assign ratio = 0.8
  elsif image and aspect == 'landscape'
    assign ratio = 1.77
  elsif image and aspect == 'adapt'
    assign ratio = image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif

  assign card_class = 'card card-padded-content'
  if image_position == 'left' or image_position == 'right'
    assign card_class = card_class | append: ' card-padded-content-media'

    if image_position == 'right'
      assign card_class = card_class | append: ' card-padded-content-media-end'
    endif
  endif
  if class != blank
    assign card_class = card_class | append: ' ' | append: class
  endif

  if loading == blank
    assign loading = 'lazy'
  endif

  if fetchpriority == blank
    assign fetchpriority = 'auto'
  endif
%}

<div
  {% if id != blank %}
    id="{{ id }}"
  {% endif %}
  class="{{ card_class }}"
>
  <figure class="card-media">
    {% if button_link %}
      <a
        href="{{ button_link }}"
        {% if new_window %}
          target="_blank"
        {% endif %}
      >
    {% endif %}
    {% if ratio != 0 %}
      <div class="aspect-ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
    {% endif %}
    {% if image != blank %}
      {%- capture image_sizes -%}
        {% if columns == 1 %}
          (min-width: 1420px) 1420px, calc(100vw - 3rem)
        {% else %}
          (min-width: 1200px) calc((100vw - 6rem) / 2), (min-width: 990px) calc((100vw - 6rem) * 0.6), (min-width: 750px) calc(100vw - 4rem), calc(100vw - 3rem)
        {% endif %}
      {%- endcapture -%}
      {{
        image
        | image_url: width: 2840
        | image_tag:
          loading: loading,
          fetchpriority: fetchpriority,
          sizes: image_sizes,
          widths: '165, 440, 650, 850, 1100, 1200, 1420, 2840'
      }}
    {% else %}
      {{ 'collection-1' | strip | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if ratio != 0 %}
      </div>
    {% endif %}
    {% unless title == blank %}
      <span class="visually-hidden">{{ title }}</span>
    {% endunless %}

    {% if settings.badge_overlay_line_1_text != blank
      or settings.badge_overlay_line_2_text != blank
      or settings.badge_overlay_line_3_text != blank
    %}
      <div
        class="card-badge-overlay card-badge-overlay-position-{{ settings.badge_overlay_position }}"
        style="color: {{ settings.badge_overlay_colors_text }}; background-color: {{ settings.badge_overlay_colors_background }};"
      >
        {% if settings.badge_overlay_line_1_text != blank %}
          <span class="card-badge-overlay-text card-badge-overlay-text-1 card-badge-overlay-text-{{ settings.badge_overlay_line_1_font_size }}">
            {{ settings.badge_overlay_line_1_text }}
          </span>
        {% endif %}
        {% if settings.badge_overlay_line_2_text != blank %}
          <span class="card-badge-overlay-text card-badge-overlay-text-2 card-badge-overlay-text-{{ settings.badge_overlay_line_2_font_size }}">
            {{ settings.badge_overlay_line_2_text }}
          </span>
        {% endif %}
        {% if settings.badge_overlay_line_3_text != blank %}
          <span class="card-badge-overlay-text card-badge-overlay-text-3 card-badge-overlay-text-{{ settings.badge_overlay_line_3_font_size }}">
            {{ settings.badge_overlay_line_3_text }}
          </span>
        {% endif %}
      </div>
    {% endif %}

    {% if button_link %}
      </a>
    {% endif %}
  </figure>

  <div class="card-info">
    {%- unless title == blank -%}
      <h3 class="card-heading card-heading-{{ mobile_heading_size }} card-heading-desktop-{{ heading_size }}">
        {%- if button_link -%}
          <a
            href="{{ button_link }}"
            {% if new_window %}
              target="_blank"
            {% endif %}
          >
        {%- endif -%}
        {{ title }}
        {%- if button_link -%}
          </a>
        {%- endif -%}
      </h3>
    {%- endunless -%}

    {%- unless description == blank -%}
      <div class="card-caption">
        {{ description }}
      </div>
    {%- endunless -%}

    {%- unless button_text == blank or button_link == blank -%}
      <a
        href="{{ button_link }}"
        class="{% if settings.button_type_link %}button-text-link{% else %}button {% endif %}"
        {% if new_window %}
          target="_blank"
        {% endif %}
      >
        {{ button_text }}
      </a>
    {%- endunless -%}
  </div>
</div>
