{% comment %}
  Renders the countdown module of the countdown timer section.

  Accepts:
  - expiration_date: {Number} The expiration date.
  - expiration_message: {String} A message to show to the user on expiry. Optional.

  Usage:
  {% render 'countdown', expiration_date: expiration_date %}
{% endcomment %}

{% liquid
  assign now = 'now' | date: '%s'
  assign distance = expiration_date | minus: now
  if distance < 0
    assign distance = 0
  endif
%}

{% if expiration_date != blank and distance > 0 %}
  {{ 'component-countdown.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>

  <div class="countdown-timer-wrapper">
    <countdown-timer date="{{ expiration_date }}">
      <div class="countdown">
        <div class="countdown-item">
          <div class="countdown-value-pair countdown-days"></div>
          <span class="countdown-item-label">{{ 'sections.countdown_timer.days' | t }}</span>
        </div>
        <div class="countdown-item">
          <div class="countdown-value-pair countdown-hours"></div>
          <span class="countdown-item-label">{{ 'sections.countdown_timer.hours' | t }}</span>
        </div>
        <div class="countdown-item">
          <div class="countdown-value-pair countdown-minutes"></div>
          <span class="countdown-item-label">{{ 'sections.countdown_timer.minutes' | t }}</span>
        </div>
        <div class="countdown-item">
          <div class="countdown-value-pair countdown-seconds"></div>
          <span class="countdown-item-label">{{ 'sections.countdown_timer.seconds' | t }}</span>
        </div>
      </div>
    </countdown-timer>
  </div>
{% endif %}

{% if expiration_message != blank and distance == 0 %}
  <div class="countdown-timer-wrapper">
    <div class="countdown-timer-expiration-message color-background-1">
      {{ expiration_message }}
    </div>
  </div>
{% endif %}
