{% doc %}
  Renders countdown timer for main product

  @param {object} section - Section object with settings.
  @param {object} block - Block object with settings.
  @param {object} variant - Currently selected variant.

  @example
  {% render 'main-product-countdown', section: section, block: block, variant: selected_variant %}
{% enddoc %}

{% style %}
  .product-countdown-block {
    .countdown-timer-expiration-message {
      margin-bottom: 0;
      border: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)), transparent 65%);

      p {
        padding: 1rem;
        margin: 0;
      }
    }

    .block-countdown-editor-hidden-note {
      padding: 1rem;
      background: var(--color-error-background);
      color: var(--color-error);
      font-size: calc(var(--font-body-scale) * 1.3rem);
      opacity: 0.85;
      border-radius: var(--border-radius);
      z-index: 5;
    }
  }
{% endstyle %}

{% liquid
  assign now = 'now' | date: '%s'
  assign full_date = now | date: '%Y-%m-%d'
  assign color_scheme_string = block.settings.color_scheme | append: ''

  if block.settings.end_date != blank
    assign full_date = block.settings.end_date
  endif
  if block.settings.end_time != blank
    assign full_date = full_date | append: ' ' | append: block.settings.end_time
  else
    assign full_date = full_date | append: ' 00:00'
  endif
  assign expiration_date = full_date | date: '%s' | strip

  assign on_sale = false
  if variant.compare_at_price > variant.price
    assign on_sale = true
  endif

  assign should_hide_block = false
  if block.settings.end_date == blank or request.design_mode == false and block.settings.hide_on_expiration and now > expiration_date
    assign should_hide_block = true
  endif

  if block.settings.show_on_sale and on_sale == false
    assign should_hide_block = true
  endif
%}

<div
  id="ProductCountdown-{{ section.id }}"
  class="
    product-block
    {% if block.settings.show_bottom_divider %}has-divider{% endif %}
    {% if should_hide_block %}hidden{% endif %}
    product-block-content-{{ section.id }} variant-changed-update
  "
  {{ block.shopify_attributes }}
>
  <div
    class="product-countdown-block product-info-secondary {% if color_scheme_string != 'background-1' %}card color-{{ block.settings.color_scheme }}{% endif %}"
  >
    {% if block.settings.title != blank %}
      <div class="product-info-details-title h5">
        {% if block.settings.icon != blank %}
          {% render 'icons', icon: block.settings.icon %}
        {% endif %}
        {{ block.settings.title }}
      </div>
    {% endif %}

    {% unless block.settings.hide_on_expiration and now > expiration_date %}
      {% render 'countdown',
        expiration_date: expiration_date,
        expiration_message: block.settings.expiration_message
      %}
    {% endunless %}

    {% if request.design_mode and block.settings.hide_on_expiration and now > expiration_date %}
      <div class="block-countdown-editor-hidden-note">
        {{ 'products.product.countdown_hidden_note' | t }}
      </div>
    {% endif %}
  </div>
</div>
