{% liquid
  assign form_id = section.settings.form_id | handleize | default: 'flexi-contact-form'
  assign field_name = block.settings.title | handleize
  assign field_id = form_id | append: '-' | append: field_name | append: '-' | append: block.id
  assign field_classes = 'flexi-block field field-textarea'
%}

{% if block.settings.title != blank %}
  <div class="{{ field_classes }}" {{ block.shopify_attributes }}>
    <label class="field-label" for="{{ field_id }}">
      {{ block.settings.title }}
      {% if block.settings.required -%}
        <span aria-hidden="true">*</span>
      {%- endif %}
    </label>

    <textarea
      id="{{ field_id }}"
      name="contact[{{ field_name }}]"
      class="text-area field-input"
      rows="{{ block.settings.rows }}"
      {% if block.settings.placeholder != blank %}
        placeholder="{{ block.settings.placeholder | escape }}"
      {% endif %}
      {% if block.settings.required %}
        required="required"
        aria-required="true"
      {% endif %}
    ></textarea>

    {% if block.settings.help_text != blank %}
      <small class="field-help-text">{{ block.settings.help_text }}</small>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "t:theme_blocks._contact_form_form_textarea.name",
    "tag": null,
    "class": "flexi-block flexi-textarea",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:theme_blocks._contact_form_form_textarea.settings.title.label",
        "info": "t:theme_blocks._contact_form_form_textarea.settings.title.info",
        "default": "Message"
      },
      {
        "type": "text",
        "id": "placeholder",
        "label": "t:theme_blocks._contact_form_form_textarea.settings.placeholder.label"
      },
      {
        "type": "range",
        "id": "rows",
        "label": "t:theme_blocks._contact_form_form_textarea.settings.rows.label",
        "min": 3,
        "max": 15,
        "step": 1,
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "required",
        "label": "t:theme_blocks._contact_form_form_textarea.settings.required.label",
        "info": "t:theme_blocks._contact_form_form_textarea.settings.required.info",
        "default": false
      },
      {
        "type": "inline_richtext",
        "id": "help_text",
        "label": "t:theme_blocks._contact_form_form_textarea.settings.help_text.label"
      }
    ],
    "presets": [
      {
        "name": "t:theme_blocks._contact_form_form_textarea.name",
        "category": "t:theme_blocks.categories.form"
      }
    ]
  }
{% endschema %}
