{%- assign text_direction = 'localization.text_direction' | t | downcase -%}
<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  {% if request.design_mode %}
    class="shopify-design-mode"
  {% endif %}
  {% if text_direction == 'rtl' %}
    dir="{{ text_direction }}"
  {% endif %}
>
  <head>
    {% render 'head-meta-tags' %}
    {% render 'head-fonts' %}
    {% render 'head-theme-variables' %}
    {% render 'head-color-schemes' %}
    {% render 'head-critical' %}

    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'template-password.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name }}">
    <a class="skip-link visually-hidden visually-hidden-focusable" href="#MainContent">
      {{- 'accessibility.link_messages.skip_to_text' | t -}}
    </a>

    <main id="MainContent" class="main" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
