{% liquid
  assign is_empty = true
  for block in section.blocks
    if block.settings.collection != blank or block.settings.image != blank
      assign is_empty = false
    endif
  endfor

  assign hide_because_empty = false
  if request.design_mode == false and section.settings.hide_if_empty and is_empty
    assign hide_because_empty = true
  endif
%}
{%- unless hide_because_empty -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-pills.css' | asset_url | stylesheet_tag }}
  {{ 'component-scroller.css' | asset_url | stylesheet_tag }}

  {%- if section.settings.layout == 'slider' -%}
    {{ 'flickity.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% liquid
    assign columns = section.settings.columns | at_most: 6
    assign layout_classes = 'grid grid-2-col'

    if columns >= 4
      assign layout_classes = layout_classes | append: ' grid-3-col-tablet grid-' | append: columns | append: '-col-desktop'
    else
      assign layout_classes = layout_classes | append: ' grid-3-col-tablet'
    endif

    if section.settings.layout == 'slider'
      assign layout_classes = layout_classes | append: ' grid-carousel'
    endif

    assign is_mobile_slider = false
    if section.settings.auto_rotate and section.settings.stack_on_mobile == false
      assign is_mobile_slider = true
    endif

    if is_mobile_slider
      assign layout_classes = layout_classes | append: ' grid-carousel-mobile'
    endif

    assign color_scheme_string = section.settings.color_scheme | append: ''
    assign section_content_class = 'section-content'
    unless color_scheme_string == 'background-1'
      assign section_content_class = section_content_class | append: ' section-content-padded'
    endunless
  %}

  <style>
    #shopify-section-{{ section.id }} .section-content {
      margin-top: {{ section.settings.spacing_top_mobile }}px;
      margin-bottom: {{ section.settings.spacing_bottom_mobile }}px;
    }

    #shopify-section-{{ section.id }} .section-content-padded {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: {{ section.settings.spacing_top_mobile }}px;
      padding-bottom: {{ section.settings.spacing_bottom_mobile }}px;
    }

    @media (min-width: 990px) {
      #shopify-section-{{ section.id }} .section-content {
        margin-top: {{ section.settings.spacing_top }}px;
        margin-bottom: {{ section.settings.spacing_bottom }}px;
      }

      #shopify-section-{{ section.id }} .section-content-padded {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: {{ section.settings.spacing_top }}px;
        padding-bottom: {{ section.settings.spacing_bottom }}px;
      }
    }
  </style>

  {%- capture visibility_classes -%}{%- render 'section-visibility-classes' -%}{%- endcapture -%}
  {%- assign visibility_classes = visibility_classes | strip -%}

  <div class="{{ visibility_classes }}">
    <div class="color-{{ section.settings.color_scheme }}">
      <div class="container">
        <div class="{{ section_content_class }}">
          {% if section.settings.heading != blank
            or section.settings.subheading != blank
            or section.settings.layout == 'slider'
            or section.settings.link_title != blank
            and section.settings.link_url != blank
          %}
            <div class="section-headings {% if section.settings.subheading != blank %}with-subheading{% endif %}">
              {% if section.settings.heading != blank or section.settings.subheading != blank %}
                <div class="section-headings-content{% if section.settings.headings_alignment == 'center' %} center-aligned{% endif %}">
                  {% if section.settings.heading != blank %}
                    <{{ section.settings.heading_tag }} class="section-heading heading-size-{{ section.settings.heading_size }}">
                      {{- section.settings.heading -}}
                    </{{ section.settings.heading_tag }}>
                  {% endif %}
                  {% if section.settings.subheading != blank %}
                    <p class="section-subheading">{{ section.settings.subheading }}</p>
                  {% endif %}
                </div>
              {% endif %}

              {% if section.settings.link_title != blank
                and section.settings.link_url != blank
                and section.settings.headings_alignment == 'left'
              %}
                <div class="section-headings-actions">
                  <a
                    href="{{ section.settings.link_url }}"
                    class="button button-tertiary"
                  >
                    {{ section.settings.link_title }}
                    {% render 'angle', direction: 'right' %}
                  </a>
                </div>
              {% endif %}

              {% if section.settings.layout == 'slider'
                and section.settings.headings_alignment == 'left'
              %}
                <carousel-navigation
                  for="Carousel-{{ section.id }}"
                  class="section-headings-actions visible-tablet-up"
                  data-wrap="true"
                >
                  <div class="pill-nav pill-nav-slider">
                    <button
                      class="pill-nav-item focus-none js-prev"
                      aria-disabled="true"
                    >
                      <span class="visually-hidden">
                        {{- 'sections.slideshow.previous_slide' | t -}}
                      </span>
                      {% render 'angle', direction: 'left' %}
                    </button>
                    <button class="pill-nav-item js-next" aria-disabled="false">
                      <span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
                      {% render 'angle', direction: 'right' %}
                    </button>
                  </div>
                </carousel-navigation>
              {% endif %}
            </div>
          {% endif %}

          <div class="brands">
            {%- if section.settings.layout == 'slider' or is_mobile_slider -%}
              <carousel-slider
                id="Carousel-{{ section.id }}"
                data-autoplay="{{ section.settings.auto_rotate }}"
                data-speed="{{ section.settings.change_slides_speed }}"
                data-group-cells="{{ section.settings.move_one_slide }}"
                data-wrap-around="true"
              >
            {%- endif -%}

            {%- unless section.settings.stack_on_mobile or section.settings.auto_rotate -%}
              <div class="scroller">
                <div class="scroller-inner">
            {%- endunless -%}

            <div class="{{ layout_classes }}">
              {% for block in section.blocks %}
                <div class="grid-item" {{ block.shopify_attributes }}>
                  {% render 'card-brand',
                    collection: block.settings.collection,
                    title: block.settings.title,
                    show_title: section.settings.show_title,
                    new_window: section.settings.links_new_window,
                    image: block.settings.image,
                    aspect: section.settings.image_ratio,
                    link: block.settings.link
                  %}
                </div>
              {% else %}
                {% for i in (1..3) %}
                  <div class="grid-item" {{ block.shopify_attributes }}>
                    {% render 'card-brand',
                      collection: null,
                      show_title: section.settings.show_title,
                      title: block.settings.title,
                      image: block.settings.image,
                      new_window: section.settings.links_new_window,
                      aspect: section.settings.image_ratio,
                      link: block.settings.link
                    %}
                  </div>
                {% endfor %}
              {% endfor %}
            </div>

            {%- unless section.settings.stack_on_mobile or section.settings.auto_rotate -%}
              </div>
              </div>
            {%- endunless -%}

            {%- if section.settings.layout == 'slider' or is_mobile_slider -%}
              {%- if section.settings.layout == 'slider'
                and section.settings.headings_alignment == 'center'
              -%}
                <carousel-navigation
                  for="Carousel-{{ section.id }}"
                  data-wrap="true"
                >
                  <div class="visible-tablet-up">
                    <div class="pill-nav pill-nav-slider pill-nav-slider-inline-nav">
                      <button
                        class="pill-nav-item pill-nav-item-prev focus-none js-prev"
                        aria-disabled="true"
                      >
                        <span class="visually-hidden">
                          {{- 'sections.slideshow.previous_slide' | t -}}
                        </span>
                        {% render 'angle', direction: 'left' %}
                      </button>
                      <button
                        class="pill-nav-item pill-nav-item-next js-next"
                        aria-disabled="false"
                      >
                        <span class="visually-hidden">
                          {{- 'sections.slideshow.next_slide' | t -}}
                        </span>
                        {% render 'angle', direction: 'right' %}
                      </button>
                    </div>
                  </div>
                </carousel-navigation>
              {%- endif -%}
              </carousel-slider>
            {%- endif -%}
          </div>

          {%- if section.settings.link_title != blank
            and section.settings.link_url != blank
            and section.settings.headings_alignment == 'center'
          -%}
            <div class="section-footer-content text-center">
              <a
                class="button button-tertiary"
                href="{{ section.settings.link_url }}"
              >
                {{ section.settings.link_title | escape }}
                {% render 'angle', direction: 'right' %}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}
{% schema %}
  {
    "name": "t:sections.brands.name",
    "tag": "section",
    "class": "section-brands",
    "disabled_on": {
      "groups": ["header", "footer", "custom.overlays"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.brands.settings.heading.label",
        "default": "Brands"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "md",
        "options": [
          {
            "value": "sm",
            "label": "t:sections.all.heading_size.options.label_sm"
          },
          {
            "value": "md",
            "label": "t:sections.all.heading_size.options.label_md"
          },
          {
            "value": "lg",
            "label": "t:sections.all.heading_size.options.label_lg"
          },
          {
            "value": "xl",
            "label": "t:sections.all.heading_size.options.label_xl"
          },
          {
            "value": "xxl",
            "label": "t:sections.all.heading_size.options.label_xxl"
          }
        ]
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.brands.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "link_title",
        "label": "t:sections.all.links.link_title.label"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "t:sections.all.links.link_url.label"
      },
      {
        "type": "select",
        "id": "headings_alignment",
        "label": "t:sections.all.headings_alignment.label",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "t:sections.all.headings_alignment.options.label_left"
          },
          {
            "value": "center",
            "label": "t:sections.all.headings_alignment.options.label_center"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.brands.settings.header_brand_card.content"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "default": false,
        "label": "t:sections.brands.settings.show_title.label"
      },
      {
        "type": "checkbox",
        "id": "links_new_window",
        "label": "t:sections.all.links.links_new_window.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.all.layout.heading"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "t:sections.all.layout.layout.label",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.all.layout.layout.options.label_grid"
          },
          {
            "value": "slider",
            "label": "t:sections.all.layout.layout.options.label_slider"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "move_one_slide",
        "default": false,
        "label": "t:sections.all.layout.move_one_slide.label",
        "info": "t:sections.all.layout.move_one_slide.info",
        "visible_if": "{{ section.settings.layout == 'slider' }}"
      },
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "t:sections.brands.settings.auto_rotate.label",
        "info": "t:sections.brands.settings.auto_rotate.info",
        "default": false,
        "visible_if": "{{ section.settings.layout == 'slider' }}"
      },
      {
        "type": "range",
        "id": "change_slides_speed",
        "min": 3,
        "max": 9,
        "step": 1,
        "unit": "s",
        "label": "t:sections.brands.settings.change_slides_speed.label",
        "info": "t:sections.brands.settings.change_slides_speed.info",
        "default": 5,
        "visible_if": "{{ section.settings.auto_rotate == true and section.settings.layout == 'slider' }}"
      },
      {
        "type": "range",
        "id": "columns",
        "min": 3,
        "max": 6,
        "step": 1,
        "default": 6,
        "label": "t:sections.all.layout.desktop_columns.label"
      },
      {
        "type": "checkbox",
        "id": "stack_on_mobile",
        "default": false,
        "label": "t:sections.all.layout.stack_on_mobile.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "t:sections.all.layout.image_ratio.label",
        "default": "adapt",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.all.layout.image_ratio.options.label_1"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.layout.image_ratio.options.label_2"
          },
          {
            "value": "square",
            "label": "t:sections.all.layout.image_ratio.options.label_3"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.layout.image_ratio.options.label_4"
          },
          {
            "value": "contain",
            "label": "t:sections.all.layout.image_ratio.options.label_5"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.heading"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_spacing.heading"
      },
      {
        "type": "select",
        "id": "spacing_mode",
        "label": "t:sections.all.section_spacing.spacing_mode.label",
        "default": "desktop",
        "options": [
          {
            "value": "desktop",
            "label": "t:sections.all.section_spacing.spacing_mode.options.desktop"
          },
          {
            "value": "mobile",
            "label": "t:sections.all.section_spacing.spacing_mode.options.mobile"
          }
        ]
      },
      {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_top_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 48,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 48,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.seo_heading.label"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "t:sections.all.advanced.heading_tag.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.visibility_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "default": true,
        "label": "t:sections.all.advanced.show_on_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "default": true,
        "label": "t:sections.all.advanced.show_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "hide_if_empty",
        "default": false,
        "label": "t:sections.brands.settings.hide_if_empty.label",
        "info": "t:sections.all.advanced.hide_if_empty.info"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.brands.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.brands.blocks.collection.settings.collection.label"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.brands.blocks.collection.settings.title.label",
            "info": "t:sections.brands.blocks.collection.settings.title.info"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.brands.blocks.collection.settings.image.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.brands.blocks.collection.settings.link.label",
            "info": "t:sections.brands.blocks.collection.settings.link.info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.brands.presets.name",
        "category": "t:sections.all.preset_category.content",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
