{% liquid
  assign hide_because_empty = false
  if request.design_mode == false and section.settings.hide_placeholders and section.settings.collections == blank
    assign hide_because_empty = true
  endif
%}
{%- unless hide_because_empty -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {% liquid
    assign columns = section.settings.columns
    assign layout_classes = 'grid'

    if columns >= 5
      assign layout_classes = 'grid grid-2-col-tablet grid-5-col-desktop grid-compact'
    elsif columns == 4
      assign layout_classes = 'grid grid-2-col-tablet grid-4-col-desktop'
    elsif columns == 1
      assign layout_classes = 'grid grid-' | append: columns | append: '-col-desktop'
    else
      assign layout_classes = 'grid grid-2-col-tablet grid-' | append: columns | append: '-col-desktop'
    endif

    if section.settings.mobile_columns == '2' and section.settings.stack_on_mobile
      assign layout_classes = layout_classes | append: ' grid-2-col'
    else
      assign layout_classes = layout_classes | append: ' grid-1-col'
    endif

    assign color_scheme_string = section.settings.color_scheme | append: ''
    assign section_content_class = 'section-content'
    unless color_scheme_string == 'background-1'
      assign section_content_class = section_content_class | append: ' section-content-padded'
    endunless

    assign card_class = 'color-' | append: section.settings.content_color_scheme
  %}

  <style>
    #shopify-section-{{ section.id }} .section-content {
      margin-top: {{ section.settings.spacing_top_mobile }}px;
      margin-bottom: {{ section.settings.spacing_bottom_mobile }}px;
    }

    #shopify-section-{{ section.id }} .section-content-padded {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: {{ section.settings.spacing_top_mobile }}px;
      padding-bottom: {{ section.settings.spacing_bottom_mobile }}px;
    }

    @media (min-width: 990px) {
      #shopify-section-{{ section.id }} .section-content {
        margin-top: {{ section.settings.spacing_top }}px;
        margin-bottom: {{ section.settings.spacing_bottom }}px;
      }

      #shopify-section-{{ section.id }} .section-content-padded {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: {{ section.settings.spacing_top }}px;
        padding-bottom: {{ section.settings.spacing_bottom }}px;
      }
    }
  </style>

  {%- capture visibility_classes -%}{%- render 'section-visibility-classes' -%}{%- endcapture -%}
  {%- assign visibility_classes = visibility_classes | strip -%}

  <div class="{{ visibility_classes }}">
    <div class="color-{{ section.settings.color_scheme }}">
      <div class="container">
        <div class="{{ section_content_class }}">
          {% if section.settings.heading != blank
            or section.settings.subheading != blank
            or section.settings.link_title != blank
            and section.settings.link_url != blank
          %}
            <div class="section-headings {% if section.settings.subheading != blank %}with-subheading{% endif %}">
              {% if section.settings.heading != blank or section.settings.subheading != blank %}
                <div class="section-headings-content{% if section.settings.headings_alignment == 'center' %} center-aligned{% endif %}">
                  {% if section.settings.heading != blank %}
                    <{{ section.settings.heading_tag }} class="section-heading heading-size-{{ section.settings.heading_size }}">
                      {{- section.settings.heading -}}
                    </{{ section.settings.heading_tag }}>
                  {% endif %}
                  {% if section.settings.subheading != blank %}
                    <p class="section-subheading">{{ section.settings.subheading }}</p>
                  {% endif %}
                </div>
              {% endif %}

              {% if section.settings.link_title != blank
                and section.settings.link_url != blank
                and section.settings.headings_alignment == 'left'
              %}
                <div class="section-headings-actions">
                  <a
                    href="{{ section.settings.link_url }}"
                    class="button button-tertiary"
                  >
                    {{ section.settings.link_title }}
                    {% render 'angle', direction: 'right' %}
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {%- unless section.settings.stack_on_mobile or section.blocks.size == 1 -%}
            <div class="scroller">
              <div class="scroller-inner">
          {%- endunless -%}
          <div class="{{ layout_classes }}">
            {% for collection in section.settings.collections %}
              <div class="grid-item">
                {% render 'card-collection-grid',
                  collection_item: collection,
                  show_image: section.settings.show_image,
                  class: card_class
                %}
              </div>
            {% else %}
              {% for i in (1..8) %}
                <div class="grid-item">
                  {% render 'card-collection-grid',
                    show_image: section.settings.show_image,
                    class: card_class
                  %}
                </div>
              {% endfor %}
            {% endfor %}
          </div>
          {%- unless section.settings.stack_on_mobile or section.blocks.size == 1 -%}
            </div>
            </div>
          {%- endunless -%}

          {%- if section.settings.link_title != blank
            and section.settings.link_url != blank
            and section.settings.headings_alignment == 'center'
          -%}
            <div class="section-footer-content text-center">
              <a
                class="button button-tertiary"
                href="{{ section.settings.link_url }}"
              >
                {{ section.settings.link_title | escape }}
                {% render 'angle', direction: 'right' %}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}
{% schema %}
  {
    "name": "t:sections.collections_grid.name",
    "tag": "section",
    "class": "section-collection-grid",
    "disabled_on": {
      "groups": ["header", "footer", "custom.overlays"]
    },
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.section_content.heading"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.collections_grid.settings.heading.label",
        "default": "Collection grid"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "md",
        "options": [
          {
            "value": "sm",
            "label": "t:sections.all.heading_size.options.label_sm"
          },
          {
            "value": "md",
            "label": "t:sections.all.heading_size.options.label_md"
          },
          {
            "value": "lg",
            "label": "t:sections.all.heading_size.options.label_lg"
          },
          {
            "value": "xl",
            "label": "t:sections.all.heading_size.options.label_xl"
          },
          {
            "value": "xxl",
            "label": "t:sections.all.heading_size.options.label_xxl"
          }
        ]
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.collections_grid.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "link_title",
        "label": "t:sections.all.links.link_title.label",
        "default": "All collections"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "t:sections.all.links.link_url.label",
        "default": "/collections"
      },
      {
        "type": "select",
        "id": "headings_alignment",
        "label": "t:sections.all.headings_alignment.label",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "t:sections.all.headings_alignment.options.label_left"
          },
          {
            "value": "center",
            "label": "t:sections.all.headings_alignment.options.label_center"
          }
        ]
      },
      {
        "type": "collection_list",
        "id": "collections",
        "label": "t:sections.collections_grid.settings.collections.label"
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
        "label": "t:sections.collections_grid.settings.show_image.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.layout.heading"
      },
      {
        "type": "range",
        "id": "columns",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.all.layout.desktop_columns.label"
      },
      {
        "type": "checkbox",
        "id": "stack_on_mobile",
        "default": true,
        "label": "t:sections.all.layout.stack_on_mobile.label"
      },
      {
        "type": "header",
        "content": "t:sections.collections_grid.settings.header_1.content"
      },
      {
        "type": "select",
        "id": "mobile_columns",
        "label": "t:sections.all.layout.mobile_columns.label",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.heading"
      },
      {
        "type": "color_scheme",
        "id": "content_color_scheme",
        "label": "t:sections.all.colors.content_color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_spacing.heading"
      },
      {
        "type": "select",
        "id": "spacing_mode",
        "label": "t:sections.all.section_spacing.spacing_mode.label",
        "default": "desktop",
        "options": [
          {
            "value": "desktop",
            "label": "t:sections.all.section_spacing.spacing_mode.options.desktop"
          },
          {
            "value": "mobile",
            "label": "t:sections.all.section_spacing.spacing_mode.options.mobile"
          }
        ]
      },
      {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_top_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 48,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 48,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.seo_heading.label"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "t:sections.all.advanced.heading_tag.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.visibility_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "default": true,
        "label": "t:sections.all.advanced.show_on_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "default": true,
        "label": "t:sections.all.advanced.show_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "hide_placeholders",
        "default": false,
        "label": "t:sections.collections_grid.settings.hide_placeholders.label",
        "info": "t:sections.all.advanced.hide_if_empty.info"
      }
    ],
    "presets": [
      {
        "name": "t:sections.collections_grid.preset.name",
        "category": "t:sections.all.preset_category.collections"
      }
    ]
  }
{% endschema %}
