{% render 'features', section: section %}

{% schema %}
  {
    "name": "t:sections.header_features.name",
    "tag": "section",
    "class": "section-features",
    "disabled_on": {
      "groups": ["footer"]
    },
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.layout.heading"
      },
      {
        "type": "checkbox",
        "id": "inline",
        "default": false,
        "label": "t:sections.features.settings.inline.label",
        "info": "t:sections.features.settings.inline.info"
      },
      {
        "type": "checkbox",
        "id": "stack_on_mobile",
        "default": true,
        "label": "t:sections.all.layout.stack_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "default": false,
        "label": "t:sections.features.settings.auto_rotate.label",
        "info": "t:sections.features.settings.auto_rotate.info",
        "visible_if": "{{ section.settings.stack_on_mobile == false }}"
      },
      {
        "id": "icon_size",
        "label": "t:sections.features.settings.icon_size.label",
        "type": "select",
        "default": "large",
        "options": [
          {
            "value": "small",
            "label": "t:sections.features.settings.icon_size.options.small"
          },
          {
            "value": "large",
            "label": "t:sections.features.settings.icon_size.options.large"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.heading"
      },
      {
        "type": "color_scheme",
        "id": "content_color_scheme",
        "label": "t:sections.all.colors.content_color_scheme.label",
        "default": "background-1",
        "visible_if": "{{ section.settings.inline == false }}"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-2"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_spacing.heading"
      },
      {
        "type": "select",
        "id": "spacing_mode",
        "label": "t:sections.all.section_spacing.spacing_mode.label",
        "default": "desktop",
        "options": [
          {
            "value": "desktop",
            "label": "t:sections.all.section_spacing.spacing_mode.options.desktop"
          },
          {
            "value": "mobile",
            "label": "t:sections.all.section_spacing.spacing_mode.options.mobile"
          }
        ]
      },
      {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 46,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 46,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_top_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 36,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 36,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.visibility_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "default": true,
        "label": "t:sections.all.advanced.show_on_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "default": true,
        "label": "t:sections.all.advanced.show_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "hide_if_empty",
        "default": false,
        "label": "t:sections.features.settings.hide_if_empty.label",
        "info": "t:sections.all.advanced.hide_if_empty.info"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "t:sections.features.blocks.feature.name",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "t:sections.all.icon.name",
            "default": "check",
            "options": [
              {
                "label": "",
                "value": ""
              },
              {
                "label": "t:sections.all.icon.options.label_bag",
                "value": "bag",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_basket",
                "value": "basket",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_box",
                "value": "box",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_box_2",
                "value": "box-2",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_cart",
                "value": "cart",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_cart_cancel",
                "value": "cart-cancel",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_cart_cog",
                "value": "cart-cog",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_cart_question",
                "value": "cart-question",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_gift_wrap",
                "value": "gift-wrap",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_label",
                "value": "label",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_store",
                "value": "store",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_tags",
                "value": "tags",
                "group": "t:sections.all.icon.options.label_ecommerce_shopping_group"
              },
              {
                "label": "t:sections.all.icon.options.label_credit_cart",
                "value": "credit-card",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_dollar",
                "value": "dollar",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_euro",
                "value": "euro",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_percent",
                "value": "percent",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_pound",
                "value": "pound",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_refund_receipt",
                "value": "refund-receipt",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_wallet",
                "value": "wallet",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_yen",
                "value": "yen",
                "group": "t:sections.all.icon.options.label_payment_finance_group"
              },
              {
                "label": "t:sections.all.icon.options.label_bookmark",
                "value": "bookmark",
                "group": "t:sections.all.icon.options.label_user_account_group"
              },
              {
                "label": "t:sections.all.icon.options.label_cog",
                "value": "cog",
                "group": "t:sections.all.icon.options.label_user_account_group"
              },
              {
                "label": "t:sections.all.icon.options.label_settings",
                "value": "settings",
                "group": "t:sections.all.icon.options.label_user_account_group"
              },
              {
                "label": "t:sections.all.icon.options.label_user",
                "value": "user",
                "group": "t:sections.all.icon.options.label_user_account_group"
              },
              {
                "label": "t:sections.all.icon.options.label_user_alt",
                "value": "user-alt",
                "group": "t:sections.all.icon.options.label_user_account_group"
              },
              {
                "label": "t:sections.all.icon.options.label_add_comment",
                "value": "add-comment",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_at",
                "value": "at",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_broadcast",
                "value": "broadcast",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_chat",
                "value": "chat",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_email",
                "value": "email",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_paper_airplane",
                "value": "paper-airplane",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_phone",
                "value": "phone",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_support",
                "value": "support",
                "group": "t:sections.all.icon.options.label_communication_support_group"
              },
              {
                "label": "t:sections.all.icon.options.label_arrow_down",
                "value": "arrow-down",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_arrow_left",
                "value": "arrow-left",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_arrow_right",
                "value": "arrow-right",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_arrow_up",
                "value": "arrow-up",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_cross",
                "value": "cross",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_menu",
                "value": "menu",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_minus",
                "value": "minus",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_plus",
                "value": "plus",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_search",
                "value": "search",
                "group": "t:sections.all.icon.options.label_navigation_interface_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery",
                "value": "battery",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery_1",
                "value": "battery-1",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery_2",
                "value": "battery-2",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery_3",
                "value": "battery-3",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery_4",
                "value": "battery-4",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery_automotive",
                "value": "battery-automotive",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_battery_charging",
                "value": "battery-charging",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_camera",
                "value": "camera",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_computer_camera",
                "value": "computer-camera",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_desktop",
                "value": "desktop",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_device_watch",
                "value": "device-watch",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_headphones",
                "value": "headphones",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_laptop",
                "value": "laptop",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_mobile",
                "value": "mobile",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_mouse",
                "value": "mouse",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_television",
                "value": "television",
                "group": "t:sections.all.icon.options.label_devices_technology_group"
              },
              {
                "label": "t:sections.all.icon.options.label_globe",
                "value": "globe",
                "group": "t:sections.all.icon.options.label_location_maps_group"
              },
              {
                "label": "t:sections.all.icon.options.label_map",
                "value": "map",
                "group": "t:sections.all.icon.options.label_location_maps_group"
              },
              {
                "label": "t:sections.all.icon.options.label_pin",
                "value": "pin",
                "group": "t:sections.all.icon.options.label_location_maps_group"
              },
              {
                "label": "t:sections.all.icon.options.label_car",
                "value": "car",
                "group": "t:sections.all.icon.options.label_shipping_logistics_group"
              },
              {
                "label": "t:sections.all.icon.options.label_returns",
                "value": "returns",
                "group": "t:sections.all.icon.options.label_shipping_logistics_group"
              },
              {
                "label": "t:sections.all.icon.options.label_truck",
                "value": "truck",
                "group": "t:sections.all.icon.options.label_shipping_logistics_group"
              },
              {
                "label": "t:sections.all.icon.options.label_truck_loading",
                "value": "truck-loading",
                "group": "t:sections.all.icon.options.label_shipping_logistics_group"
              },
              {
                "label": "t:sections.all.icon.options.label_attachment",
                "value": "attachment",
                "group": "t:sections.all.icon.options.label_documents_files_group"
              },
              {
                "label": "t:sections.all.icon.options.label_clipboard",
                "value": "clipboard",
                "group": "t:sections.all.icon.options.label_documents_files_group"
              },
              {
                "label": "t:sections.all.icon.options.label_document",
                "value": "document",
                "group": "t:sections.all.icon.options.label_documents_files_group"
              },
              {
                "label": "t:sections.all.icon.options.label_download",
                "value": "download",
                "group": "t:sections.all.icon.options.label_documents_files_group"
              },
              {
                "label": "t:sections.all.icon.options.label_activity",
                "value": "activity",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_check",
                "value": "check",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_clock",
                "value": "clock",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_gauge",
                "value": "gauge",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_hourglass",
                "value": "hourglass",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_info",
                "value": "info",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_thumb_down",
                "value": "thumb-down",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_thumb_up",
                "value": "thumb-up",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_warning",
                "value": "warning",
                "group": "t:sections.all.icon.options.label_status_notifications_group"
              },
              {
                "label": "t:sections.all.icon.options.label_certificate",
                "value": "certificate",
                "group": "t:sections.all.icon.options.label_security_trust_group"
              },
              {
                "label": "t:sections.all.icon.options.label_disabled",
                "value": "disabled",
                "group": "t:sections.all.icon.options.label_security_trust_group"
              },
              {
                "label": "t:sections.all.icon.options.label_key",
                "value": "key",
                "group": "t:sections.all.icon.options.label_security_trust_group"
              },
              {
                "label": "t:sections.all.icon.options.label_shield",
                "value": "shield",
                "group": "t:sections.all.icon.options.label_security_trust_group"
              },
              {
                "label": "t:sections.all.icon.options.label_shield_plus",
                "value": "shield-plus",
                "group": "t:sections.all.icon.options.label_security_trust_group"
              },
              {
                "label": "t:sections.all.icon.options.label_bandcamp",
                "value": "bandcamp",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_discord",
                "value": "discord",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_facebook",
                "value": "facebook",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_instagram",
                "value": "instagram",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_linkedin",
                "value": "linkedin",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_pinterest",
                "value": "pinterest",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_snapchat",
                "value": "snapchat",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_spotify",
                "value": "spotify",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_tiktok",
                "value": "tiktok",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_tumblr",
                "value": "tumblr",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_twitter",
                "value": "twitter",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_vimeo",
                "value": "vimeo",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_whatsapp",
                "value": "whatsapp",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_x",
                "value": "x",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_youtube",
                "value": "youtube",
                "group": "t:sections.all.icon.options.label_social_platforms_group"
              },
              {
                "label": "t:sections.all.icon.options.label_aperture",
                "value": "aperture",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_assembly",
                "value": "assembly",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_award",
                "value": "award",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_balloon",
                "value": "balloon",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_brush",
                "value": "brush",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_flag",
                "value": "flag",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_hammer",
                "value": "hammer",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_heart",
                "value": "heart",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_heart_full",
                "value": "heart-full",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_home",
                "value": "home",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_palette",
                "value": "palette",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_ruler",
                "value": "ruler",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_share",
                "value": "share",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_shirt",
                "value": "shirt",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_star_empty",
                "value": "star-empty",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              },
              {
                "label": "t:sections.all.icon.options.label_star_full",
                "value": "star-full",
                "group": "t:sections.all.icon.options.label_miscellaneous"
              }
            ]
          },
          {
            "id": "image",
            "label": "t:sections.features.blocks.feature.settings.image.label",
            "info": "t:sections.features.blocks.feature.settings.image.info",
            "type": "image_picker"
          },
          {
            "id": "title",
            "label": "t:sections.features.blocks.feature.settings.title.label",
            "type": "text",
            "default": "Feature"
          },
          {
            "id": "text",
            "label": "t:sections.features.blocks.feature.settings.text.label",
            "type": "richtext",
            "default": "<p>Pair text with an icon to focus on your store's features.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
