{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
<style>
  .password-logo {
    width: {{ section.settings.logo_width }}px;
    max-width: {{ section.settings.logo_width }}px;
  }
</style>
<div class="container container-narrow password-container">
  <div class="password-wrap">
    {%- if section.settings.logo != blank -%}
      {{
        section.settings.logo
        | image_url: width: section.settings.logo_width
        | image_tag:
          class: 'password-logo',
          width: section.settings.logo_width,
          alt: section.settings.logo.alt
        | default: shop.name
        | escape
      }}
    {%- else -%}
      <h1>{{ shop.name }}</h1>
    {%- endif -%}

    {% if section.settings.newsletter_enabled %}
      <div class="newsletter-content">
        {% if section.settings.newsletter_message != blank %}
          <div class="password-newsletter-message">
            {{ section.settings.newsletter_message }}
          </div>
        {% endif %}

        {%- form 'customer', class: 'newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">

          <div class="newsletter-form-input-wrap">
            <label for="form-newsletter-email-{{ section.id }}" class="visually-hidden">
              {{- 'sections.newsletter.email' | t -}}
            </label>
            <input
              type="email"
              pattern=".+@.+\.(.+\.?)+"
              name="contact[email]"
              id="form-newsletter-email-{{ section.id }}"
              placeholder="{{ 'sections.newsletter.email' | t }}"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              value="{{ form.email }}"
              required
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
                aria-describedby="ContactFooter-success"
              {% endif %}
            >
            <button type="submit" class="button">{{ 'sections.newsletter.submit' | t }}</button>
          </div>

          {% if section.settings.consent_checkbox and section.settings.consent_text %}
            <label
              class="checkbox-newsletter-consent"
              for="form-newsletter-consent-{{ section.id }}"
            >
              <input type="checkbox" id="form-newsletter-consent-{{ section.id }}" required>
              <span class="rte">{{ section.settings.consent_text }}</span>
            </label>
          {% endif %}

          {%- if form.errors -%}
            <small class="newsletter-form-error field-error">
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <div class="form-status form-status-success" tabindex="-1" autofocus>
              <h5 class="newsletter-form-success-title form-status-title">
                {{ 'sections.newsletter.success' | t }}
              </h5>
            </div>
          {%- endif -%}
        {% endform %}
      </div>
    {% else %}
      <div class="password-content">
        {%- if shop.password_message != blank -%}
          {{ shop.password_message }}
        {%- else -%}
          {{ 'password_page.password_protected' | t }}
        {%- endif -%}
      </div>

      {%- form 'storefront_password', class: 'password-form' -%}
        <div class="password-form-field-wrap">
          <div class="password-field field {% if form.errors %} password-field-error {% endif %}">
            <label class="field-label" for="Password">
              {{- 'password_page.login_form_password_label' | t -}}
            </label>
            <input
              type="password"
              name="password"
              id="Password"
              class="field-input"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
            >
          </div>
          <button name="commit" class="button">
            {{ 'password_page.login_form_submit' | t }}
            {% render 'angle', direction: 'right' %}
          </button>
        </div>

        {%- if form.errors -%}
          <div class="password-form-password-error form-status form-status-error" role="status">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form-message">{{ 'password_page.login_form_error' | t }}</span>
          </div>
        {%- endif -%}
      {%- endform -%}
    {% endif %}
  </div>

  <div class="password-footer-text">{{ 'password_page.admin_link_html' | t }}</div>
</div>

{% schema %}
  {
    "name": "t:sections.main_password.name",
    "tag": "section",
    "class": "section section-main-password",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.main_password.settings.logo.label"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "t:sections.main_password.settings.logo_width.label"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enabled",
        "label": "t:sections.main_password.settings.newsletter_enabled.label",
        "info": "t:sections.main_password.settings.newsletter_enabled.info",
        "default": false
      },
      {
        "type": "richtext",
        "id": "newsletter_message",
        "label": "t:sections.main_password.settings.newsletter_message.label",
        "default": "<p>Exciting things are coming! Be the first to know about our grand opening.</p>"
      },
      {
        "type": "checkbox",
        "id": "consent_checkbox",
        "default": false,
        "label": "t:sections.newsletter.settings.consent_checkbox.label",
        "info": "t:sections.newsletter.settings.consent_checkbox.info"
      },
      {
        "type": "richtext",
        "id": "consent_text",
        "label": "t:sections.newsletter.settings.consent_text.label",
        "default": "<p>I agree to receive marketing emails and special deals.</p>"
      }
    ]
  }
{% endschema %}
