{% liquid
  assign is_empty = true
  for block in section.blocks
    if block.settings.description != blank
      assign is_empty = false
    endif
  endfor

  assign hide_because_empty = false
  if request.design_mode == false and section.settings.hide_if_empty and is_empty
    assign hide_because_empty = true
  endif
%}
{%- unless hide_because_empty -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-pills.css' | asset_url | stylesheet_tag }}
  {{ 'component-scroller.css' | asset_url | stylesheet_tag }}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}

  {%- if section.settings.layout == 'slider' -%}
    {{ 'flickity.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% liquid
    assign columns = section.settings.columns | at_most: 6
    assign layout_classes = 'grid grid-1-col'

    if columns >= 4
      assign layout_classes = layout_classes | append: ' grid-3-col-tablet grid-' | append: columns | append: '-col-desktop'
    elsif columns == 2
      assign layout_classes = layout_classes | append: ' grid-2-col-tablet'
    else
      assign layout_classes = layout_classes | append: ' grid-3-col-tablet'
    endif

    if section.settings.layout == 'slider'
      assign layout_classes = layout_classes | append: ' grid-carousel'
    endif

    assign color_scheme_string = section.settings.color_scheme | append: ''
    assign section_content_class = 'section-content'
    unless color_scheme_string == 'background-1'
      assign section_content_class = section_content_class | append: ' section-content-padded'
    endunless

    assign card_class = 'color-' | append: section.settings.content_color_scheme
  %}

  <style>
    #shopify-section-{{ section.id }} .section-content {
      margin-top: {{ section.settings.spacing_top_mobile }}px;
      margin-bottom: {{ section.settings.spacing_bottom_mobile }}px;
    }

    #shopify-section-{{ section.id }} .section-content-padded {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: {{ section.settings.spacing_top_mobile }}px;
      padding-bottom: {{ section.settings.spacing_bottom_mobile }}px;
    }

    .section-testimonial-call-to-action {
      margin: 3rem auto 0;
      text-align: center;
    }

    @media (min-width: 990px) {
      #shopify-section-{{ section.id }} .section-content {
        margin-top: {{ section.settings.spacing_top }}px;
        margin-bottom: {{ section.settings.spacing_bottom }}px;
      }

      #shopify-section-{{ section.id }} .section-content-padded {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: {{ section.settings.spacing_top }}px;
        padding-bottom: {{ section.settings.spacing_bottom }}px;
      }

      .section-testimonial-call-to-action {
        width: 60rem;
      }
    }

    .card-testimonial .icon-rating-star-half path {
      fill: url(#rating-star-gradient-half-{{ section.id }});
    }
  </style>

  {%- capture visibility_classes -%}{%- render 'section-visibility-classes' -%}{%- endcapture -%}
  {%- assign visibility_classes = visibility_classes | strip -%}

  <div class="{{ visibility_classes }}">
    <div class="color-{{ section.settings.color_scheme }}">
      <div class="container">
        <div class="{{ section_content_class }}">
          {% if section.settings.heading != blank
            or section.settings.subheading != blank
            or section.settings.layout == 'slider'
          %}
            <div class="section-headings {% if section.settings.subheading != blank %}with-subheading{% endif %}">
              {% if section.settings.heading != blank or section.settings.subheading != blank %}
                <div class="section-headings-content{% if section.settings.headings_alignment == 'center' %} center-aligned{% endif %}">
                  {% if section.settings.heading != blank %}
                    <{{ section.settings.heading_tag }} class="section-heading heading-size-{{ section.settings.heading_size }}">
                      {{- section.settings.heading -}}
                    </{{ section.settings.heading_tag }}>
                  {% endif %}
                  {% if section.settings.subheading != blank %}
                    <p class="section-subheading">{{ section.settings.subheading }}</p>
                  {% endif %}
                </div>
              {% endif %}

              {%- if section.settings.layout == 'slider'
                and section.blocks.size > columns
                and section.settings.headings_alignment == 'left'
              -%}
                <carousel-navigation
                  for="Carousel-{{ section.id }}"
                  class="section-headings-actions visible-tablet-up"
                >
                  <div class="pill-nav pill-nav-slider">
                    <button
                      class="pill-nav-item pill-nav-item-disabled focus-none js-prev"
                      aria-disabled="true"
                    >
                      <span class="visually-hidden">
                        {{- 'sections.slideshow.previous_slide' | t -}}
                      </span>
                      {% render 'angle', direction: 'left' %}
                    </button>
                    <button class="pill-nav-item js-next" aria-disabled="false">
                      <span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
                      {% render 'angle', direction: 'right' %}
                    </button>
                  </div>
                </carousel-navigation>
              {% endif %}
            </div>
          {% endif %}

          {%- if section.settings.layout == 'slider' and section.blocks.size > columns -%}
            <carousel-slider id="Carousel-{{ section.id }}">
          {%- endif -%}
          {%- unless section.settings.stack_on_mobile or section.blocks.size == 1 -%}
            <div class="scroller">
              <div class="scroller-inner">
          {%- endunless -%}

          <div class="{{ layout_classes }}">
            {% for block in section.blocks %}
              <div class="grid-item" {{ block.shopify_attributes }}>
                {% render 'card-testimonial',
                  title: block.settings.citation,
                  description: block.settings.description,
                  rating: block.settings.rating,
                  avatar: block.settings.avatar,
                  class: card_class
                %}
              </div>
            {% endfor %}
          </div>

          {%- unless section.settings.stack_on_mobile or section.blocks.size == 1 -%}
            </div>
            </div>
          {%- endunless -%}

          {%- if section.settings.layout == 'slider' and section.blocks.size > columns -%}
            {%- if section.settings.headings_alignment == 'center' -%}
              <carousel-navigation for="Carousel-{{ section.id }}">
                <div class="visible-tablet-up">
                  <div class="pill-nav pill-nav-slider pill-nav-slider-inline-nav">
                    <button
                      class="pill-nav-item pill-nav-item-prev pill-nav-item-disabled focus-none js-prev"
                      aria-disabled="true"
                    >
                      <span class="visually-hidden">
                        {{- 'sections.slideshow.previous_slide' | t -}}
                      </span>
                      {% render 'angle', direction: 'left' %}
                    </button>
                    <button
                      class="pill-nav-item pill-nav-item-next js-next"
                      aria-disabled="false"
                    >
                      <span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
                      {% render 'angle', direction: 'right' %}
                    </button>
                  </div>
                </div>
              </carousel-navigation>
            {%- endif -%}
            </carousel-slider>
          {%- endif -%}

          {% if section.settings.call_to_action != blank %}
            <div class="section-testimonial-call-to-action rte">
              {{ section.settings.call_to_action }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <svg class="visually-hidden">
    <linearGradient id="rating-star-gradient-half-{{ section.id }}">
      <stop offset="50%" stop-color="var(--color-product-review-star)" />
      <stop offset="50%" stop-color="color-mix(in srgb, rgba(var(--color-foreground)), transparent 50%)" stop-opacity="0.5" />
    </linearGradient>
  </svg>
{%- endunless -%}
{% schema %}
  {
    "name": "t:sections.testimonials.name",
    "tag": "section",
    "class": "section-testimonials",
    "disabled_on": {
      "groups": ["header", "footer", "custom.overlays"]
    },
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.section_content.heading"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.testimonials.settings.heading.label",
        "default": "Testimonials"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "md",
        "options": [
          {
            "value": "sm",
            "label": "t:sections.all.heading_size.options.label_sm"
          },
          {
            "value": "md",
            "label": "t:sections.all.heading_size.options.label_md"
          },
          {
            "value": "lg",
            "label": "t:sections.all.heading_size.options.label_lg"
          },
          {
            "value": "xl",
            "label": "t:sections.all.heading_size.options.label_xl"
          },
          {
            "value": "xxl",
            "label": "t:sections.all.heading_size.options.label_xxl"
          }
        ]
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.testimonials.settings.subheading.label"
      },
      {
        "type": "select",
        "id": "headings_alignment",
        "label": "t:sections.all.headings_alignment.label",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "t:sections.all.headings_alignment.options.label_left"
          },
          {
            "value": "center",
            "label": "t:sections.all.headings_alignment.options.label_center"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "call_to_action",
        "label": "t:sections.testimonials.settings.call_to_action.label",
        "default": "<p>Read more reviews <a href=''>here</a></p>"
      },
      {
        "type": "header",
        "content": "t:sections.all.layout.heading"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "t:sections.all.layout.layout.label",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.all.layout.layout.options.label_grid"
          },
          {
            "value": "slider",
            "label": "t:sections.all.layout.layout.options.label_slider"
          }
        ]
      },
      {
        "type": "range",
        "id": "columns",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "t:sections.all.layout.desktop_columns.label"
      },
      {
        "type": "checkbox",
        "id": "stack_on_mobile",
        "default": false,
        "label": "t:sections.all.layout.stack_on_mobile.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.heading"
      },
      {
        "type": "color_scheme",
        "id": "content_color_scheme",
        "label": "t:sections.all.colors.content_color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.color_scheme.label",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_spacing.heading"
      },
      {
        "type": "select",
        "id": "spacing_mode",
        "label": "t:sections.all.section_spacing.spacing_mode.label",
        "default": "desktop",
        "options": [
          {
            "value": "desktop",
            "label": "t:sections.all.section_spacing.spacing_mode.options.desktop"
          },
          {
            "value": "mobile",
            "label": "t:sections.all.section_spacing.spacing_mode.options.mobile"
          }
        ]
      },
      {
        "type": "range",
        "id": "spacing_top",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 60,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'desktop' }}"
      },
      {
        "type": "range",
        "id": "spacing_top_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 48,
        "label": "t:sections.all.section_spacing.spacing_top.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "range",
        "id": "spacing_bottom_mobile",
        "min": 0,
        "max": 150,
        "step": 2,
        "default": 48,
        "label": "t:sections.all.section_spacing.spacing_bottom.label",
        "visible_if": "{{ section.settings.spacing_mode == 'mobile' }}"
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.seo_heading.label"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "t:sections.all.advanced.heading_tag.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.advanced.visibility_heading.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "default": true,
        "label": "t:sections.all.advanced.show_on_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "default": true,
        "label": "t:sections.all.advanced.show_on_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "hide_if_empty",
        "default": false,
        "label": "t:sections.testimonials.settings.hide_if_empty.label",
        "info": "t:sections.all.advanced.hide_if_empty.info"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "t:sections.testimonials.blocks.testimonial.name",
        "settings": [
          {
            "type": "text",
            "id": "citation",
            "label": "t:sections.testimonials.blocks.testimonial.settings.citation.label",
            "default": "Anonymous"
          },
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "t:sections.testimonials.blocks.testimonial.settings.avatar.label"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "t:sections.testimonials.blocks.testimonial.settings.description.label",
            "default": "<p>Use this text to share your customer's testimonial here. It could be a brief quote from a customer praising your products or services. It's a great way to highlight positive feedback and build trust with potential customers.</p>"
          },
          {
            "type": "range",
            "id": "rating",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "default": 5,
            "label": "t:sections.testimonials.blocks.testimonial.settings.rating.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.testimonials.preset.name",
        "category": "t:sections.all.preset_category.marketing",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}
